
<app-header></app-header>
<div class="container-fluid admin ">
  <p-growl [(value)]="msgs"></p-growl>
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 p20 sidebar_element">
      <h1>Student</h1>
      <section>
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/teachers">Student</a></li>
              <li class="breadcrumb-item active" aria-current="page">{{studentData?.firstname}}</li>
            </ol>
          </nav>
          <div class="bg-light-grey profile-detail p20">
            <div class="row align-items-center">
              <div class="col-md-2">
                <figure *ngIf="studentData?.profileImage" class="profile-detail-figure" ><img src="{{dpUrl}}{{studentData?.profileImage}}" alt="profile"></figure>
                <figure class="profile-detail-figure"  *ngIf="!studentData?.profileImage" ><img src="./assets/images/m_noimage.jpeg" alt="profile"></figure>
              </div>
              <div class="col-md-10">
                <div class="profile-detail-content">
                  <h3>Name : {{studentData?.firstname}}

                    <button *ngIf="!studentData?.isEnabled" (click)="enableDisableStudent(studentData?._id,true)" class="btn btn-success">Activate</button>
                    <button *ngIf="studentData?.isEnabled" (click)="enableDisableStudent(studentData?._id,false)" class="btn btn-danger">De-Activate</button>
                  </h3>
                  <h3>Status:   <span *ngIf="studentData?.isEnabled" class="badge badge-pill badge-success">Active</span>
                    <span *ngIf="!studentData?.isEnabled"  class="badge badge-pill badge-danger">In-Active</span></h3>
                    <h3>Last Login : {{studentData?.updatedAt | date }}</h3>
                    <p class="list-content">
                      <span> <img src="./assets/images/speaking.png" alt="language">
                        <span *ngFor="let language of studentData?.languages;let i = index">
                          {{language.lang_text}}  <span *ngIf="i < studentData?.languages.length-1"><b> ,</b> </span></span></span>
                          <div class="list-detail">
                            <span><a *ngFor="let sub of studentData?.subjects">{{sub.sub_text}}</a>
                            </span>
                          </div>
                        </div>
                      </div>
                    </div>
                    <hr/>

                    <!-- <div class="top-heading text-center">
                      <h2>Degree</h2>
                    </div> -->
                    <!-- <div class="profile-about-content"> -->
                    <!-- <div class="col-md-12">
                      <div class="row">
                        <div class="col-md-3">
                          <img *ngIf="studentData?.docs.name" src="{{docUrl}}{{studentData?.docs.name}}" style="width:100%"/>
                          <p *ngIf="!studentData?.docs.name" class="text-danger">No Degree uploaded</p>
                        </div>
                        <div class="col-md-6">
                          <button *ngIf="!studentData?.docs.isDegreeApproved && studentData?.docs.name" (click)="teacherDegreeApprove(studentData._id)" class="btn btn-success btn-block">
                            Approve Degree</button>
                          </div>
                        </div>
                      </div> -->
                      <!-- </div> -->
                      <div class="top-heading text-center">
                        <h2>About Me</h2>
                      </div>
                      <div class="profile-about-content">
                        <p>{{studentData?.about}}
                        </p>
                        <!-- <a href="javascript:void()" class="more" id="toggled1">more</a> -->
                      </div>
                    </div>
                  </div>
                </section>
              </main>
            </div>
          </div>


          <!-- End header Section -->


          <!--footer End-->
