
<app-header></app-header>
<div class="container-fluid admin ">
  <div class="row">
    <app-sidebar></app-sidebar>
    <main class="col-sm-9 offset-sm-3 col-md-10 offset-md-2 pt-3 p20 sidebar_element">
      <h1>Query</h1>

      <section>
        <div class="container">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a routerLink="/teachers">Queries</a></li>
              <li class="breadcrumb-item active" aria-current="page">name</li>
            </ol>
          </nav>
          <div class="bg-light-grey profile-detail p20">

            <div class="row align-items-center">
              <div class="col-md-12">
                <div class="profile-detail-content">
                  <h3>Subject : {{singleQueryData?.title}}</h3>
                  <p>Name: {{singleQueryData?.question}}</p>
                  <p> <i class="far fa-clock"></i> {{singleQueryData?.createdAt | date}}</p>
                </div>
              </div>
            </div>
            <hr/>
            <div class="col-md-8">
              <div class="col-md-8">
                <form [formGroup] = "qryForm"  novalidate  (ngSubmit)="adminReply()">
                  <div class="form-group input-element">
                    <div class="form-field__control">
                      <textarea id="query" name="replytext" class="form-field__textarea" formControlName="replytext" placeholder=" "></textarea>
                      <label for="about_us" class="form-field__label">Reply Text </label>
                      <span class="text-danger" *ngIf="qryForm.get('replytext').touched && qryForm.get('replytext').invalid">
                        <div *ngIf="qryForm.get('replytext').hasError('required')">Error: Field Required</div>
                      </span>
                    </div>
                  </div>
                  <div class="col-md-12">
                    <div class="submit-btn"><button type="submit"> <span *ngIf="!querySentLoading">Reply</span> <span *ngIf="querySentLoading"><i class="fa fa-spinner fa-spin"></i> Please Wait </span>  </button></div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </section>

      <div class="col-md-12">
        <div class="container">
          <h3>Chat</h3>
          <!-- <div id="messages"> -->
          <div *ngFor="let rep of singleQueryData?.reply">
            <div class="msg-left" *ngIf="rep.userType == 'admin'">
              {{rep.replyText}}
              <br/> <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
            </div>
            <div class="msg-right" *ngIf="rep.userType == 'teacher'">
              {{rep.replyText}}<br/>
              <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
            </div>
            <div class="msg-right" *ngIf="rep.userType == 'student'">
              {{rep.replyText}}<br/>
              <span style="font-size:10px;color:white;">  {{rep.repliedAt |  date :  "dd.MM.y h:mm a" }}</span>
            </div>
          </div>
        </div>
      </div>
    </main>
  </div>
</div>


<!-- End header Section -->


<!--footer End-->
