@media only screen and (max-width:767px){
.login-box {
    padding: 15px;
}
.top-heading h1{
    padding: 0px 15px;
}
.top-heading h2
    {
        padding: 0px 10px;
    }
h1{
    font-size: 24px;
}
    .main-nav ul.navbar-nav li a.nav-link
    {
        padding: 10px 0px;
    }
.profile-detail-figure
    {
        text-align: center;
    }
    .list-detail a{
        width: 100%;
        margin: 0px;
        margin-bottom: 10px;
    }
    
}