<nav class="col-sm-3 col-md-2 hidden-xs-down bg-faded sidebar-nav sidebar_element">
  <ul class="nav nav-pills flex-column">
    <li class="nav-item">
      <a class="nav-link" routerLink="/dashboard" routerLinkActive="active" >Dashboard <span class="sr-only">(current)</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/pendingteachers" routerLinkActive="active">New Teachers <span style="float:right;margin-right:5px;margin-top:3px;" class="badge badge-light">{{count}}</span></a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/teachers" routerLinkActive="active">Teachers</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/students" routerLinkActive="active">Students</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" routerLink="/staqueries" routerLinkActive="active">Queries</a>
    </li>
  </ul>
</nav>
