/* admin panel css */
/*.admin .sidebar_element {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}
.sidebar-nav
{
    background: #213c50;
    padding: 0px;
    padding-top: 10px;
}
.sidebar-nav ul > li > a{
	color:#fff;
	border-bottom:1px solid transparent;
	transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	position:relative;
	overflow:hidden;
}
.sidebar-nav ul > li > a:after,.sidebar-nav .nav-pills .nav-link.active:before{
  display: block;
    content: "";
    background-color: #12c8fc;
    width: 0;
    height: 100%;
    transition: width 0.3s ease;
    margin-top: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
.sidebar-nav ul > li > a:hover:after{
	width:100%;
}
.sidebar-nav .nav-pills .nav-link.active,.sidebar-nav .nav-pills .nav-link:hover,.sidebar-nav .nav-pills .nav-link:focus
{
	background:transparent;
	border-radius:0px;
}
.sidebar-nav ul > li > a:hover:after,.sidebar-nav ul > li > a:focus:after,.sidebar-nav .nav-pills .nav-link.active:before{
   width:100%;

}*/
