*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
body{
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}
#feature-slider{
  display: flex;
}
.main-body
{
    background: #f3f3f3;
}

a,a:hover,a:focus{
    text-decoration: none;
    color:#000;
}
.p20{
    padding: 20px;
}
.mt10{
    margin-top: 10px;
}
.equal{
	padding:60px 0px;
}
ul,li{
    list-style: none;
}
button,input,button:hover,input:hover,button:focus,input:focus{
    outline: none;
}
p{
   font-family: 'Montserrat', sans-serif;
}
h1,h2,h3,h4,h5,h6{font-family: 'Work Sans', sans-serif;}
h1{
    font-size: 42px;
}
.main-nav a.navbar-brand{
        font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;
}
.main-nav  ul.navbar-nav li a.nav-link
{
        color: #adacac;
    font-size: 14px;
    font-family: 'Work Sans', sans-serif;
    font-weight:500;
    padding: 0px 30px;
	    height: 98px;
    align-items: center;
    display: flex;
    border-bottom: 2px solid transparent;
    transition: 0.3s ease-in;
    -webkit-transition:0.3s ease-in;
    -moz-transition:0.3s ease-in;
}
.main-nav  ul.navbar-nav li a.nav-link:hover
{
	    border-bottom: 2px solid #12c8fc;
      color:#12c8fc;

}
.main-nav .notification-icon
{
    position: relative;
}
.main-nav .header-right
{
    display: flex;
    align-items: center;
}
.main-nav .header-right span{
        position: absolute;
    border-radius: 100%;
    width: 16px;
    height: 16px;
    text-align: center;
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    top: -5px;
    right: -10px;
    background: #20c9db; /* Old browsers */
background: -moz-linear-gradient(top, #20c9db 0%, #22e28c 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #20c9db 0%,#22e28c 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #20c9db 0%,#22e28c 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#20c9db', endColorstr='#22e28c',GradientType=0 );
}
.profile-box
{
    display: flex;
    align-items: center;
    margin-left: auto;
}
.profile-box figure{
        width: 40px;
    height: 40px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    border: 1px solid #ccc;
    margin-left: 40px;
    margin-right: 15px;
    margin-bottom: 0px;
}
.profile-box figure img{
    max-width: 100%;
}
.top-heading {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 40px 0px;
    z-index: 1;
}
.top-heading h1{
        font-weight: 700;
    display: inline-block;
    background: #f3f3f3;
    padding: 0px 50px;
}
.top-heading:before
{
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width:100%;
    border: 2px solid #006f9d;
    z-index: -1;

}
.top-heading h2{
        font-weight: 700;
    display: inline-block;
    background: #f9f9f9;
    padding: 0px 50px;
    text-transform: uppercase;
}
.lesson-request {
    background: #fff;
    padding: 20px;
    margin-bottom: 20px;
}
.lesson-request .leasson-heading
{
        display: flex;
    padding: 20px 20px 0px;
}
.lesson-request  h2{
    font-size: 18px;
    font-weight: 700;
    border-bottom: 1px solid #ccc;
    padding: 20px;
    padding-top: 0px;
}
.leasson-heading figure{
    margin-left: auto;
}
.leasson-content{
        padding: 20px;
}
 .leasson-heading h3{
    font-size: 16px;
    font-weight: 600;
    color:#0087ad;
    text-transform: uppercase;
    padding-bottom: 20px;
}
 .leasson-heading h3 span
{
    display: block;
    font-size: 12px;
    color: #ccc;
    text-transform: none;
    font-weight: 400;
    margin-top: 5px;
}
.leasson-content p{
    font-size: 12px;
    line-height: 25px;
}
.leasson-content p a{
    color: #5287ad;
}

.rating-box p a i{
    color:#ed8a19;
}
.rating-box p {
    margin-bottom: 0px;
}
.subject-box h3{
       font-weight: 700;
    font-size: 18px;
    text-transform: uppercase;
    padding: 20px 0px;
    margin-bottom: 0px;
}
.subject-box p   a{
      display: block;
    color: #0087ad;
    font-weight: 500;
    line-height: 30px;
}
/* new footer */
footer {
    background-color: #213c50;
}
footer .contactinfo li {
    font-family: "Work Sans", sans-serif;
    font-size: 12px;
    color: #fff;
}

footer .contactinfo li:not(:last-child) {
    margin-bottom: 8px;
}
footer h6 {
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 13px;
    color: #fff;
}
footer h6 {
    margin-top: 68px;
}
footer .logo {
    margin-top: 60px;
}
footer .information li a {
    font-family: "OpenSans", sans-serif;
    color: #fff;
    font-size: 12px;
    display: inline-block;
    text-decoration: none;
    transition: color 0.3s ease;
}
footer .information li:hover a {
    color: #18c967;
    transition: color 0.3s ease;
}
footer .information li a::after {
    display: block;
    content: "";
    background-color: #18c967;
    width: 0;
    height: 2px;
    transition: width 0.3s ease;
    margin-top: 3px;
}
footer .information li:hover a::after {
    width: 100%;
    transition: width 0.3s ease;
}
footer .botbar {
    border-top: 1px solid #28475e;
    margin-top: 60px;
}
footer .copyright {
    font-family: "OpenSans", sans-serif;
    font-size: 12px;
    color: #fff;
    line-height: 68px;
}
footer .payments
{
	text-align:right;
	padding:20px 0px;
}
footer .payments li {
    display: inline-block;
    margin-right: 23px;
}
footer .payments li:not(:last-child) {
    margin-right: 23px;
}

/* login page css start */

.login-element
{
    background: #fff;
    position: relative;
    overflow-x:hidden;
}
.login-element figure img
{
    max-width: 100%;
}
.bg-blue
{
    background: #006f9d;
}
.bg-light-grey
{
    background: #f9f9f9;
}
.login-box{
    padding: 60px;
}
.login-box h3
{
    font-weight: 400;

}
.tabs-element .nav-tabs{
    border-bottom: none;
        margin-bottom: 20px;
}
.tabs-element .nav-tabs .nav-item{
        padding: 10px 10px;
}
.tabs-element .nav-tabs .nav-link{
        position: relative;
    padding: 0;
    padding-bottom: 10px;
    font-size: 18px;
    color:#ccc;
    font-weight: 600;

}

.tabs-element .nav-tabs .nav-link:after
{
    content: '';
    position: absolute;
    width: 70%;
    display: inline-block;
    height: 3px;
    background: #ccc;
    left: 0;
    bottom: 0;
}
.tabs-element .nav-tabs .nav-link.active,.tabs-element .nav-tabs .nav-item.show .nav-link,.tabs-element .nav-tabs .nav-link:hover
{
        background: transparent;
    border: 1px solid transparent;
    color:#fff;
}
.tabs-element .nav-tabs .nav-link.active:after
{
    background:#fff;
}
.tab-block input
{
    width:100%;
    padding: 10px;
    border:1px solid #fff;
    border-radius: 5px;
}
.tab-block input[type="submit"]{
       width: 100px;
    background: #fff;
    color: #006f9d;
    border-radius: 48px;
    font-weight: 600;
    cursor: pointer;

}

.forgot-pasword
{
    font-weight: 600;
    margin-left: 5px;
}
.forget-modal input{
        width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
.forget-modal input[type="submit"]{
      max-width: 160px;
    margin: 0px auto;
    display: block;
    background: #006f9d;
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
}
.other-login
{
    padding-left: 15px;
    padding-top: 20px;
}
.other-login p{
    color:#fff;
}
.other-login p a{
    color: #fff;
    padding: 0px 5px;
    font-weight: 500;
}
.profile-detail h4
{
    font-weight: 300;
    font-size: 18px;
}
.profile-detail h3
{
    font-size: 16px;
    font-weight: 700;
}
.profile-detail p.list-content{
    font-size: 12px;
     display: flex;
    align-items: center;
}

.profile-detail p span
{
    padding-right: 20px;
    display: flex;
    align-items: center;
}
.profile-detail p span img
{
    width: 15px;
    height: 15px;
    margin-right: 10px;
}
.list-detail a
{
    display: inline-block;
    padding: 3px 10px;
    border:1px solid #006f9d;
    border-radius: 50px;
    margin: 0px 10px;
    margin-bottom: 10px;
     background: #fff;

}
.list-detail a:nth-child(1){
    margin-left: 0px;
}
.list-detail .btn-container
{
    display: inline-block;
}
.list-detail .btn-container a{
        border: none;
    color: #006f9d;
    font-weight: 700;
    font-size: 14px;
    padding: 0px;
   background: transparent;
}
#list-hide,#content-hide,#content-hide1
{
    display: none;
}
.profile-about-content
{
    max-width: 800px;
    margin: 0px auto;
}
.profile-about-content p{
    font-size: 14px;
    line-height: 30px;
}
.profile-about-content a.more{

    color:#006f9d;
}
/* index page css  */
.blue-btn
{
    background: #525BEA;
    color: #fff;
    border: 1px solid #525BEA;
    transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    -moz-transition: 0.3s ease-in-out;
    padding: 10px 20px;
    margin: 0px 10px;
}
.blue-btn:hover,.blue-btn:focus{
	background:#fff;
	color:#525BEA;

}
.hero-element
{
    /*background: url(./assets/images/student-bg.jpg) no-repeat;
    background-size: cover;
    background-position: top right;
    display: flex;
    padding: 100px 0px;
    align-items: center;
    justify-content: center;*/
    position: relative;
    overflow: hidden;
    height: 600px;

}
.topbar-head {
    height: 98px;
    border-bottom: 1px solid rgba(255,255,255,.15);
    width: 100%;
    display: flex;
}
.hero-element-outer {
    display: block;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
}
.hero-element-inner {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px 0px;
}
.hero-element-inner h5 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
    color: #fff;
    font-weight: 300;
}
.blueplay {
  padding: 8px 12px 8px 0;
    border: 1px solid rgb(77, 107, 226);
    color: #4d6be2;
    transition: 0.3s ease-in;
    -webkit-transition:0.3s ease-in;
    -moz-transition:0.3s ease-in;
}
.blueplay:before {
    content: "\25b6";
    display: inline-block;
    margin: 0 8px 0 10px;
    color: #12c8fc;
    position: relative;
    bottom: 1px;


}
.blueplay:hover,.blueplay:focus{
  background: #fff;
  text-decoration: none;
}

.hero-element-inner > h5{
	font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 5px;
	color:#fff;
	font-weight:300;
}
.hero-element-inner h1{
	text-transform:uppercase;
		    font-size: 56px;
			color:#fff;
}
.hero-element-inner h1 span{
	display:block;
}
.hero-element-inner h6{
	color: #fff;
    font-weight: 300;
    padding-bottom: 20px;
}
.hero-element-inner h6 span{
	display:block;
}

.feature-element
{
	overflow-x:hidden;
	padding:10px 0px;
}
.feature-element-inner
{

    max-width: 1200px;
    margin: 0px auto;
}
.feature-element-inner .feature-element-content
{
	border: 1px solid #ccc;
    padding: 20px 15px;
}
.feature-element-inner .feature-element-content figure img{
	width:45px;
}
.feature-element-inner .feature-element-content h3{
	font-size:18px;
}
.feature-element-inner .feature-element-content p{
	font-size:14px;
	margin-bottom:30px;
}

.feature-element-inner .feature-element-content a{
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 14px;
	position:absolute;
	bottom:5px;
	transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;

}
.feature-element-inner .feature-element-content a i{
	padding-left:5px;
}
.feature-element-inner .feature-element-content:hover a{
	color:#006f9d;
}
.feature-element-inner .slick-prev:before, .feature-element-inner .slick-next:before{
	color:#1c1a27;
}
.steps-element
{
	padding:60px 0px;
	background:#fff;
	text-align:center;
}
/* Ripple Out */
@-webkit-keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
@keyframes hvr-ripple-out {
  100% {
    top: -12px;
    right: -12px;
    bottom: -12px;
    left: -12px;
    opacity: 0;
  }
}
.steps-element{
	position:relative;
	overflow:hidden;
}
.step-devider
{
	position:relative;
	width:100%;
}
.step-devider .divider {
    border-bottom: solid 1px #18c967;
    position: absolute;
    width: 500%;
    top: 32px;
    display: block;
    left: -600px;
}
.hvr-ripple-out {
     position: relative;s
    cursor: pointer;
    background: #416581;
    text-decoration: none;
    color: #fff;
    border-radius: 100%;
    width: 65px;
    height: 65px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    margin: 0px auto;
    background-color: #416581;
    border: 6px solid #8299ac;
    box-shadow: 0 0 0 6px #c4ced7;
    transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    transition: 0.3s;
    font-family: "Work Sans", sans-serif;
}

.hvr-ripple-out:hover,.hvr-ripple-out:focus
{
	color:#fff;
	transform: rotate(360deg);
	    background-color: #18c967;
    border-color: #68da9b;
    box-shadow: 0 0 0 6px #b7edcf;
    transform: rotate(360deg);
    transition: all 0.3s ease;
    text-decoration: none;
}

.step-heading
{
	padding-bottom:60px;
}
.step-heading h2{
margin-bottom: 30px;
    position: relative;
    font-family: "Raleway", sans-serif;
    font-weight: 500;
    font-size: 32px;
    color: #202020;

}
.step-heading h2:after{
	content:"";
	position:absolute;
	left:0;
	right:0;
	margin:0px auto;
	width:60px;
	height:3px;
	background:#ccc;
	bottom:-10px;;
}
.step-element-inner
{
	text-align:center;
}
.step-element-inner h4{
	font-size:18px;
	margin: 35px 0px 15px 0px;
	font-family: 'Raleway', sans-serif;
}
.step-element-inner p{
	font-size:14px;
}

.video-plateform-outer
{
	border-right:1px solid #ccc;
	border-bottom:1px solid #ccc;
	padding:30px;
	display:flex;
	align-items:center;
	justify-content:center;
	text-align:center;
}
.video-plateform-outer .video-plateform-inner i{
	font-size:40px;
	margin-bottom:15px;
	color:#7b7b7b;
}
.video-plateform-outer:nth-child(4){
	border-right:none;
}
.video-plateform-outer:nth-child(8){
	border-right:none;
	border-bottom:none;
}
.video-plateform-outer:nth-child(5),.video-plateform-outer:nth-child(6),.video-plateform-outer:nth-child(7){
	border-bottom:none;
}



.list-query-element img{
  max-width: 100%;
}
/*********categories css start ***********/

.categories-element{
	position: relative;
}

.categories-element .category{
	border-right: 1px solid #e8e8e8;
	border-bottom: 1px solid #e8e8e8;
	    text-align: center;
}

.categories-element .category img{
	margin-top: 50px;
	height: 63px;
}

.categories-element .category h5{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	color: #202020;
	margin-top: 30px;
	margin-bottom: 50px;
	    font-size: 16px;
}
.categories-element .overlay.row:last-child::after
{
	display:none;
}
.categories-element .row:last-child::after
{
	content: "";
	display: block;
	width: 100%;
	height: 1px;
	background-color: #fff;
	position: relative;
	bottom: 1px;
}

.categories-element::after{
	content: "";
	display: inline-block;
	width: 1px;
	height: 100%;
	background-color: #fff;
	position: absolute;
	right: 0;
	top: 0;
}

.categories-element .category .overlay{
	background: url("./assets/images/box.jpeg");
	background-size: 100% 100%;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 100;
	padding: 30px 30px;
	opacity: 0;
	box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.13);
	border-radius: 3px;
}

.categories-element .category .overlay p{
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	color: #fff;
}

.categories-element .category .overlay p span{
	font-family: "Montserrat", sans-serif;
	font-weight: 600;
	font-size: 36px;
	color: #fff;
	display: block;
}

.categories-element .category .overlay h5{
	margin-top: 0px;
	color: #fff;
	margin-bottom: 0px;
}

.categories-element .category .overlay a{
	font-family: "Montserrat", sans-serif;
	font-size: 11px;
	color: #fff;
	text-decoration: none;
	display: inline-block;
}

.categories-element .category .overlay a::after{
	display: block;
	content: "";
	width: 0;
	height: 2px;
	background-color: rgba(255,255,255,0.6);
	transition: width 0.5s ease;
	margin: 0 auto;
}

.categories-element .category .overlay a:hover::after{
	width: 100%;
	transition: width 0.5s ease;
}

.categories-element .category:hover > .overlay{
	transform: scale(1.1);
    transition: all 0.5s ease;
    opacity: 1;
}
.overlay-heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
}

/*********categories css end ***********/


/*********Signup css start ***********/
.signup_element-box {
    background-image: url(./assets/images/parallex.jpg);
    background-size: cover;
    background-position: center;
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    color: #fff;
    margin-top: 100px;
	text-align:center;

}
.signup_element-box p {
    font-size: 16px;
    letter-spacing: 10px;
}
.signup_element-box h4 {
    font-size: 53px;
    margin-top: 15px;
    margin-bottom: 40px;

}
/*why choose section*/
.why-choose {
    background-image: url(./assets/images/down.jpg);
    background-size: cover;
    background-position: right bottom;
}

/* admin panel css */
.admin .sidebar_element {
    position: fixed;
    top: 85px;
    bottom: 0;
    left: -14px;
    z-index: 1000;
    overflow-x: hidden;
    overflow-y: auto;
    border-right: 1px solid #eee;
}
.sidebar-nav
{
    background: #213c50;
    padding: 0px;
    padding-top: 10px;
}
.sidebar-nav ul > li > a{
	color:#fff;
	border-bottom:1px solid transparent;
	transition:0.3s ease-in-out;
	-webkit-transition:0.3s ease-in-out;
	-moz-transition:0.3s ease-in-out;
	position:relative;
	overflow:hidden;
}
.sidebar-nav ul > li > a:after,.sidebar-nav .nav-pills .nav-link.active:before{
  display: block;
    content: "";
    background-color: #12c8fc;
    width: 0;
    height: 100%;
    transition: width 0.3s ease;
    margin-top: 0px;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -2;
}
.sidebar-nav ul > li > a:hover:after{
	width:100%;
}
.sidebar-nav .nav-pills .nav-link.active,.sidebar-nav .nav-pills .nav-link:hover,.sidebar-nav .nav-pills .nav-link:focus
{
	background:transparent;
	border-radius:0px;
}
.sidebar-nav ul > li > a:hover:after,.sidebar-nav ul > li > a:focus:after,.sidebar-nav .nav-pills .nav-link.active:before{
   width:100%;

}

.dropdown-menu.show {
    display: block;
    z-index: 10000;
}
